@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Playfair+Display:ital@1&display=swap');

@font-face {
  font-family: 'wierd-serif';
  font-style: italic;
  src: url('./fonts/Weird Serif v0.3 Demo - Regular Italic.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --app-height: 100%;
}

html,
body {
  width: 100%;
  height: 100vh;
  height: var(--app-height);
  background-color: #121212;
  overscroll-behavior: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 2;
  pointer-events: none;
  padding-left: 2%;
  mix-blend-mode: difference;
}

h1 {
  font-size: 2rem;
  font-weight: 100;
  color: #ebebeb;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

section {
  position: relative;
  height: var(--app-height);
  width: 100%;
  overflow: hidden;
}

.img {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  /* background-color: red; */
  background-size: cover;
  background-position: center;
  transform: scale(1);
  transition: 0.5s;
  filter: grayscale(50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img.active {
  transform: scale(1.7);
}

p {
  display: block;
  font-weight: 100;
  font-size: 3rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 7rem;
  overflow: hidden;
  user-select: none;
}

.text-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
}

span {
  display: block;
  color: #ffffff;
  transform: translateY(100%);
  transition: 1.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  mix-blend-mode: difference;
}

em {
  display: inline-block;
  font-family: 'wierd-serif', serif;
  font-style: italic;
  margin-right: 1rem;
}

.text-container.active span {
  transform: translateY(0);
}
.right-text {
  text-align: end;
}

@media screen and (max-width: 1200px) {
  p {
    font-size: 5rem;
  }
}

@media screen and (max-width: 740px) {
  p {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 500px) {
  p {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
